<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ma todolist en VueJS</title>
    <!-- inclure les fichiers VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

</head>
  <body>
    <div id="app">
      <h1>Ma todolist</h1>
      <ul>
        <!-- afficher la liste des tâches à faire -->
        <li v-for="task in tasks" v-text="task"></li>
      </ul>
      <input v-model="newTask" placeholder="Ajouter une nouvelle tâche">
      <button v-on:click="addTask">Ajouter</button>
    </div>
    <script>

      var app = new Vue({
        el: "#app",
        data: {
          tasks: ["Faire la vaisselle", "Passer l'aspirateur"],
          newTask: ""
        },
        methods: {
          // ajouter une tâche à la liste
          addTask: function() {
            console.log("newTask")
            this.tasks.push(this.newTask);
            this.newTask = "";
          }
        }
      });
    </script>
  </body>
</html>